.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
node_modules/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/*.xcuserstate
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
firebase/functions/lib/
firebase/functions/node_modules/
firebase-debug.log
.firebase/
.env
*.iml
.DS_Store
